 /* personal css */

 :root{

    --encabezado: #747474;
    --enlace: #fff;
 }

 #logo{

    width: width="100px";
    height: 60px;
 }

 #menu{

    background-color: var(--encabezado) !important;
 }

.nav-link{

    color: var(--enlace);
    font-weight: bold;
    font-size: 12px;

}

.nav-link:hover{

    color: black;
}